
<h4 class="teal-text col">Atividades</h4>

<div class="col s12">

<div class="row">
  <div *ngFor="let item of listaAtividade" class="col s12 m6 l3">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src={{fullImagePath}}>
      </div>
      <div class="card-content">
        <span class="card-title activator teal-text">{{item.nome}}<i class="material-icons right">more_vert</i></span>
        <p>Nivel : {{item.nivel}}</p>
      </div>
      <div class="card-reveal">
        <span class="card-title teal-text">Informações<i class="material-icons right">close</i></span>
        <p><strong>{{item.nome}}</strong></p>
        <p>Nivel : {{item.nivel}}</p>
        <p>Duração : {{item.duracao}}</p>
        <button type="button" class="btn-floating z-depth-2" (click)="editar(item)">
          <i class="material-icons">mode_edit</i>
        </button>
        <button type="button" class="btn-floating z-depth-2" (click)="remover(item)">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
  </div>
  <div class="col s1">

  </div>
</div>


<div class="fixed-action-btn">
   <a class="btn-floating btn-large red pulse" (click)="this.servico.atividade = null;" routerLink="adicionar"><i class="large material-icons">add</i></a>
</div>
