<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal darken-3">
      <a href="#!" class="brand-logo thin"><i class="material-icons">supervisor_account</i>Acompanhamento</a>
      <ul class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/paciente">Pacientes</a></li>
        <li routerLinkActive="active"><a routerLink="/atividade">Atividades</a></li>
        <li routerLinkActive="active"><a routerLink="/permissoes">Permissões</a></li>
        <li routerLinkActive="active"><a routerLink="/login">Sair</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
