<h4 class="teal-text col">Exercícios</h4>

<div class="col s12">

<div class="row">
  <div *ngFor="let item of listExercise" class="col s12 m6 l4 ">
    <div class="card medium hoverable">

      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src={{fullImagePath}}>
      </div>

      <div class="card-content">
        <span class="card-title activator teal-text"><strong>{{item.title}}</strong><i class="material-icons right">more_vert</i></span>
      </div>

      <div class="card-reveal">
        <span class="card-title teal-text"><strong>{{item.title}}</strong><i class="material-icons right">close</i></span>
          <p class="flow-text"><strong>DESCRIÇÃO :</strong> {{item.description}}</p>
          <i class="material-icons">apps</i>
          <div class="chip" *ngFor="let item2 of item.objects">{{item2.name}}
        </div>
        <p></p>
        <button type="button" class="btn-floating hoverable" (click)="editar(item)">
          <i class="material-icons">mode_edit</i>
        </button>
        <button type="button" class="btn-floating hoverable" (click)="remover(item)">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
  </div>
  <div class="col s1">
  </div>
</div>
  <div class="fixed-action-btn">
   <a class="btn-floating btn-large red pulse" (click)="this.servico.atividade = null;" routerLink="adicionar"><i class="large material-icons">add</i></a>
</div>
