
<div class="col s12 m12 l12">
  <h4 class="teal-text"><strong>{{paciente?.name}}</strong></h4>
</div>

<div class="col s12 m12 l12">
  <p>
    <b>Matricula :</b>
    {{paciente?.registration}}<br>
    <b>Telefone :</b>
    {{paciente?.phone}}<br>
    <b>Progresso :</b>
    {{paciente?.progress}}<br>
    <b>Responsável :</b>
    {{paciente?.parent}}<br>
    <b>Contato :</b>
    {{paciente?.phoneParent}}
  </p>
</div>

<div class="col s12 teal">
  <h4 class="white-text">Gráficos</h4>
  <div>
    <p class="white-text">Escala de Borg</p>
  </div>
  <div id="chart2" class="white"></div>
  <div>
    <p class="white-text">Tempo Medio</p>
  </div>
  <div id="chart" class="white"></div>
  <div>
    <p class="white-text">Tempo por Exercício</p>
  </div>
  <div id="chart3" class="white"></div>

  <h4 class="white-text">Mensagens</h4>
</div>
<div class="col s12 teal" *ngFor="let msg of atividades">

  <p class="white" *ngIf="msg.message">
    <b>Nivel</b> : {{msg.permition.grasp.level.level}} <b>Exercício</b> : {{msg.permition.grasp.exercise.title}} <b>Mensagem</b> : {{msg.message}}
  </p>
</div>

